<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> sign up </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>
    <div id="app">
      <div class="col-md-6">
        <h2>SignUp Page</h2>
          <form method="post" @submit.prevent="submit">
            <label> username: </label>
              <input type="text" v-model="username" name="username" placeholder="your username">
            <label> password: </label>
              <input type="text" v-model="password" name="password" value="your password">
            <button type="submit" class="btn btn-info"> Submit Now </button>
          </form>

          <p> Have Already Sign up? Please Click Here <a href="signin.html"> sign in </a> </p>
      </div>
    </div>



    <script type="text/javascript">
      const signup = new Vue ({
        el: '#app',
        data: {
          username: '',
          password: ''
        },
        methods: {
          submit: function () {
            var self = this;
            axios.post('http://localhost:3000/registrations/signup', {
              username: self.username,
              password: self.password
            })
            .then(response => {
              console.log(response);
              window.location.href = 'signin.html'
            })
            .catch (err => {
              console.log(err);
            })
          }
        }
      })
    </script>
  </body>
</html>
